[package]
name = "lean_cgmath"
version = "0.6.2"
authors = ["LambdaXymox <lambda.xymox@gmail.com>"]
description = "A low-dimensional linear algebra library for computer graphics and real-time physics applications."

[lib]
name = "cgmath"

[dependencies]
